# Node Modules
**/node_modules/

# Environment Files
**/.env
**/.env.local

# Logs
**/logs/
**/*.log

# Build
client/dist/
client/build/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db   